.todo_app {
  width: 75%;
  border: 4px solid white;
  min-height: 20rem;
  border-radius: 20px;
}

.todo_app_title {
  font-size: 30px;
  font-weight: bolder;
}

.todo_app_count {
  font-size: 20px;
  font-weight: bolder;
}

.todo_app_input {
  width: 80%;
  height: 1.2rem;
}

.todo_app_input:focus {
 background-color: black;
 color: white;
 font-size: 20px;
}

.todo_item_container {
  display: flex;
  justify-content: space-between;
  padding: 2px;
  border: 1px solid;
  width: 70%;
  margin: 5px auto;
  background-color: white;
  color: black;
}

.todo_item {
  text-transform: uppercase;
}

.delete_todo_item {
  cursor: pointer;
  margin-right: 5px;
  padding: 0px 10px;
}

.delete_todo_item:hover {
  cursor: pointer;
  background-color: black;
  color: white;
  border-radius: 18px;
}

.completed_todo_item {
  text-transform: uppercase;
  text-decoration: line-through;
}